*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
div {
    background: purple;
}
/* min width -> desde */
/* @media (min-width: 300px) {
    div {
        background: red;
    }
} */
/* max-widht --> hasta */
@media (max-width: 300px) {
    div {
        background: red;
    }
}

