*{
    margin: 0;
}
header {
    margin-bottom: 50px;
}
div {
    position: absolute;
    background: palegoldenrod;
}
/* .one {
    z-index: 5;
}
.two {
    z-index: 4;
} */
.red{
    width: 100px;
    height: 100px;
    background:red;
    z-index: 5;
}
.blue {
    width: 100px;
    height: 100px;
    background: blue;
    /* top: -1px; */
    z-index: 4;
}
.yellow {
    width: 100px;
    height: 100px;
    background: yellow;
    /* top: -1px; */
    z-index: 6;

}